<div class='row'>
  
  <div class='col-3'>
    <h2>User info</h2>
    <%= render 'info', user: @user,now: ''%>

    <h2>New book</h2>
    <%= render 'books/form', book: @book %>

  </div>

  <div class='col-8 offset-md-1'>
    <div class = "user_books">
      <h2>Books</h2>
      <div class = "book_index">
        <%= render 'books/index',books: @books, redirect_id: 1 %>
      </div>
    </div>
  </div>
</div>