.row
  .col-3
    h2
      | User info
    = render 'users/info', user: @book.user
    h2
      | New book
    = render 'form', book: Book.new
  .col-8.offset-md-1
    .book_detail
      = render "books/detail", book: @book
    .book_comment
      = render "books/comment", book_comments: @book_comments
    .comment-form
      = form_for [@book, @book_comment], remote: true do |f|
        = f.text_area :body, size: "90x5", class: "comment"
        = f.submit '送信'
